**/webpack.*
*.config.js
.*
./*.js

node_modules
src/app/frontend/node_modules
src/app/backend/node_modules

**/webpack.*.js
webpack.*.js
src/app/backend/src/index.js

src/__tests__
coverage
**/dist
websocket-polyfill.js
setupTests.js
**/backend/package.json
**/frontend/package.json
caches
src.v0
main.js
*log.*


**/parser
