main {
	width: 416px;
	margin: 0 auto;
	padding-left: 5px;
	border: 1px solid #ccc;
	border-radius: 17px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.header {

	display: flex;
	height: 50px;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;


	div {
		display: flex;

		&:first-of-type {
			align-items: center;

		}

		&:last-of-type {
			width: 2fr;
		}
	}


}

.news-feed {
	padding-top: 19px;
}

.news {
	padding-top: 15px;

	&:first-of-type {
		padding-top: 0;
	}
}

.data-news,
.new-content {
	display: flex;
	flex-wrap: nowrap;


	div:last-of-type {


		p {
			display: inline;
			text-indent: 0;
			font-size: 1.3rem;
			line-height: 1.2;
		}
	}
}

.data-news {
	padding-top: 0px;

	div {
		font-size: 1rem;

		&:last-of-type {
			padding-left: 5px;
		}
	}
}

.new-content {
	
	align-items: center;
	
	justify-content: space-between;
	padding-top: 13px;
	
	div:last-of-type {
		padding-left: 22px;
	};

	.news-content-preview {
		width: 46px;
		height: 42px;
		
		
	}
}


.data-news{
	.news-dateешьу{
		width: 80.63px;
		
	};

	.news-date{
		width:41.47px;
	};
	
	.news-datetime,
	.news-date{
		max-height: 18px;
		min-height:18px;
		/*background-color: #ccc;*/
		font-size: 0px;
	}

};

.new-content{

	div:last-of-type{
		max-width: 370px;
		width: 100%;
		margin-left: 22px;

		p{
			font-size: 0;
			
		}

	};

 
	
}


.data-news .news-date,
.new-content .news-content-preview, 
.new-content div:last-of-type {
		
		/* background-color: #ccc; */
		background: linear-gradient(-45deg, #ff9966, #ff5e62, #ff66cc, #b300b3, #33ccff, #6699ff, #00bfff, #00ffcc, #00ff99, #33cc33, #99ff33, #ffff66, #ffcc00, #ff9933, #ff6666, #ff5e62);
		z-index: 3;
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		
		
	};
	
	@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.new-content .news-content-preview img{display:none}
	
